.Popup{
    position:fixed;
    top:0;
    left:0;
   width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
    display:flex;
   justify-content:center;
    align-items:center;
    
}


.Popup-inner{
    position:relative;
    padding:32px;
    width:100%;
    max-width:532px;
    background-color:beige;
    height: 181px;
    
}

.Popup-inner .closebtn{
    position:absolute;
    top: 16px;
    right: 16px;
}